<section class="sec">
  <div class="wrap">
    <div class="sec-head">
      <div class="rule"></div>
      <h2 class="h2">{{ module.heading }}</h2>
    </div>
    <div class="moves">
      {% for m in module.items %}
      <div class="move">
        <span class="num">{{ loop.index }}</span>
        <h3 class="h3">{{ m.title }}</h3>
        <p>{{ m.copy }}</p>
        {% if m.shot.src %}
          <img class="shot-img" src="{{ m.shot.src }}" alt="{{ m.shot.alt }}" loading="lazy">
        {% elif m.preview_style == 'capture' %}
          <div class="prev"><div class="prev-capture"><i></i><i class="mid"></i><i></i></div></div>
        {% elif m.preview_style == 'connect' %}
          <div class="prev"><div class="prev-see"><span class="line"></span><span class="node" style="left:32%"></span><span class="node" style="left:68%"></span></div></div>
        {% else %}
          <div class="prev"><div class="prev-define"><i></i><i class="fill"></i></div></div>
        {% endif %}
      </div>
      {% endfor %}
    </div>
  </div>
</section>
