<!--
  templateType: page
  isAvailableForNewContent: true
  label: Page — Contact
  screenshotPath: ../images/contact-screenshot.png
-->
<!doctype html>
<html lang="{{ html_lang }}">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{{ page_meta.html_title }}</title>
  <meta name="description" content="{{ page_meta.meta_description }}">
  {{ require_css(get_asset_url("../css/main.css")) }}
  {{ standard_header_includes }}
</head>
<body class="body-wrapper">
  {% include "./partials/header.html" %}

  <main id="main-content">
    {% dnd_area "main" label="Page body" %}
      {% dnd_section %}
        {% dnd_column %}
          {% dnd_row %}
            {% dnd_module path="../modules/frame" %}{% end_dnd_module %}
          {% end_dnd_row %}
        {% end_dnd_column %}
      {% end_dnd_section %}
      {% dnd_section %}
        {% dnd_column %}
          {% dnd_row %}
            {% dnd_module path="../modules/contact-form" %}{% end_dnd_module %}
          {% end_dnd_row %}
        {% end_dnd_column %}
      {% end_dnd_section %}
    {% end_dnd_area %}
  </main>

  {% include "./partials/footer.html" %}
  {{ standard_footer_includes }}
</body>
</html>
